#root{
    -fx-background-color: white;
}

#noCircuitText{
    -fx-font-size: 24px;
}

#wire{
    /* -fx-background-color: white; */
}

#toolsGrid{
    -fx-background-color: #EEEEEE;
}

/*
#circuit_scroll_pane{
    -fx-background-color: pink;
}

#circuit_pane{
    -fx-background-color: yellow;
}
*/